.pages {
    width: 100%;
    height: 100%;
}

#createPage {
    grid: auto / 1fr 1fr;
}

#addQuestion {
    grid-area: 6 / 1 / 6 / 3;
}

#correctAnswer {
    grid-area: 5 / 1 / 5 / 3;
}

#questions {
    grid-area: 7 / 1 / 7 / 3;
}