.pages {
    width: 100%;
    height: 100%;
    grid: auto / 1fr;
}

#createPage {
    grid: auto / 1fr;
}

#answers {
    resize: vertical;
}

#questionList {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

form {
    margin: 0;
    padding: 0;
    background-color: transparent;
}